.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.forgotPasswordForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width:20rem;
}

.forgotPasswordTitle {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.forgotPasswordInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.forgotPasswordButton {
  background-color: lightcoral;  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.forgotPasswordButton:hover {
  background-color: #45a049;
}

.forgotPasswordMessage {
  margin-top: 15px;
  color:#45a049;
  font-size: 14px;
  text-align: center;
}
