/* resetpassword.css */

.reset-password-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetpassword-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;

}

h2 {
  font-size: 30px;
  text-align: center;
}

input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 17rem;
  border: 2px solid black;
  margin-top: 16px;
}

input:focus {
  outline: none;
}

button {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.reset-status {
  color: red;
  margin-top: 16px;
  text-align: center;
}
